---
title: Main page
layout: plain
main:
  - email
  - url: /blog/
    name: blog
  - url: /cv/cv.pdf
    name: cv
  - github
  - url: https://egort.name/
    name: egort.name
    description: My other place on the web
projects:
  - url: https://github.com/egor-tensin/cgitize
    name: cgitize
    description: Self-host your repositories using cgit
  - url: https://github.com/egor-tensin/config-links
    name: config-links
    description: Configuration file sharing
  - url: https://status.egort.name/
    name: linux-status
    description: Simple Linux server monitoring
  - url: /sorting-algorithms/
    name: sorting-algorithms
    description: Getting the hang out of (sorting) algorithms
  - url: /wireguard-config/
    name: wireguard-config
    description: Generate WireGuard configuration files
  - url: https://git.egort.name/
    description: More...
---
<h1>{{ site.settings.author.name }}</h1>
<hr/>

{% capture links %}
  <div class="col-sm-5 col-md-4 col-lg-3">

  <div class="list-group">
    <div class="list-group-item disabled">
      <h4 class="list-group-item-heading">links</h4>
    </div>
    {% if page.main %}
      {% for link in page.main %}
        {% if link == 'email' %}
          {% assign url = 'mailto:' | append: site.settings.author.email %}
          {% assign name = site.settings.author.email | downcase %}
        {% elsif link == 'github' %}
          {% assign url = site.github.owner_url %}
          {% assign name = 'github' %}
        {% else %}
          {% assign url = link.url %}
          {% assign name = link.name %}
        {% endif %}
        {% assign desc = link.description %}

        <a class="list-group-item" href="{{ url }}">
        {% if name %}
          <h4 class="list-group-item-heading">{{ name }}</h4>
        {% endif %}
        {% if desc %}
          <p class="list-group-item-text small">{{ desc }}</p>
        {% endif %}
        </a>
      {% endfor %}
    {% endif %}
  </div>

  </div>
{% endcapture %}

{% capture projects %}
{% if page.projects %}
  <div class="col-sm-6 col-md-5 col-lg-4">

  <div class="list-group">
    <div class="list-group-item disabled">
      <h4 class="list-group-item-heading">projects</h4>
    </div>
    {% for link in page.projects %}
      {% assign url = link.url %}
      {% assign name = link.name %}
      {% assign desc = link.description %}
      <a class="list-group-item" href="{{ url }}">
      {% if name %}
        <h4 class="list-group-item-heading">{{ name }}</h4>
      {% endif %}
      {% if desc %}
        <p class="list-group-item-text small">{{ desc }}</p>
      {% endif %}
      </a>
    {% endfor %}
  </div>

  </div>
{% endif %}
{% endcapture %}

<div class="row">
{{ links }}
{{ projects }}
</div>
